# Build
build/
build_*/
_temp/
sample_*/

# IDE
.vscode/
.qmlls.ini
.pytest_cache/

# No AI files
AGENTS.md
CLAUSE.md
GEMINI.md
.claude/
.cursor*
.codex/
.gemini/

# Python
__pycache__
*.pyc
.venv/
.ruff_cache/
.pytest_cache/

# Other
.config
.env

# Sandbox placeholders
.bash_profile
.bashrc
.gitconfig
.gitmodules
.idea
.mcp.json
.profile
.ripgreprc
.zprofile
.zshrc
